/*
This is style for this project.
*/

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  font-family: "IBM Plex Mono", serif;
  font-size: 18px;
}

/* START OF SITE HEADER */
#siteHeader {
  padding: 1rem;
  #siteTitle {
    text-align: center;
    padding: 1em;
    background-color: #d8e2eb;
  }
  #siteMenuBar {
    padding: 1.5em;
    border: 1px solid lightgray;
  }
  #siteMenuBarList {
    display: flex;
    list-style: none;
    min-width: 25rem;
    text-align: center;
    li {
      flex: 0 0 10%;
      margin: 0 0.85em;
      a {
        display: inline-block;
        width: 100%;
        padding: 1rem .2em;
        border: 2px dashed darkblue;
        border-radius: 15px;
        &:hover {
          background-color: aliceblue;
        }
        &:visited {
          color: rgb(59, 59, 212);
        }
      }
    }
  }
}
/* END OF SITE HEADER */

/* START OF SITE MAIN CONTENT */
main {
  margin: 1rem;
  #content {
    .content-box {
      border: 1px solid lightblue;
      padding: 1rem;
      header {
        border-bottom: 2px dashed lightseagreen;
        width: 60%;
        margin-bottom: .7rem;
        padding: .5rem 0;
        &::before {
          padding: 0 0.3rem;
          content: '->';
          display: inline-block;
          float: left;
          clear: left;
        }
      }
      .content-item-body {
        text-indent: 1cm;
        padding: 1rem;
      }
    }
  }
}
/* END OF SITE MAIN CONTENT */